{
  "presets": [
    ["babel-preset-expo", {
      "worklets": false,
      "reanimated": false
    }]
  ],
  "plugins": [
    "react-native-worklets/plugin",
    "react-native-reanimated/plugin"
  ]
}
